.container {
	display: flex;
	flex-direction: column;
}
.camera-container {
	display: flex;
	gap: 14px;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}
.gallery {
	color: black;
	font-weight: 600;
	font-size: 56px;
	line-height: 71px;
	letter-spacing: -0.04em;
}

.gallery-container {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
}
.background {
	position: absolute;
	width: 200px;
	left: -200px;
	background-color: white;
	color: white;
}
.horizontal-swiper {
	width: 100%;
	height: 380px;
	margin: 0;
}
.swiper-slide {
	width: 600px;
	display: flex;
	justify-content: center;
	background-color: var(--bg-color);
}
.swiper-slide img {
	height: 10 0%;
	width: 100%;
	background-color: var(--bg-color);
	filter: (brightness(0%)) !important;
}
.vertical-swiper {
	display: none;
	position: absolute;
	right: 50px;
	width: 100px;
	height: 500px;
}
.vertical-swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.caruosel {
	/* width: 120px; */
	height: 50px;
	display: flex;
	justify-content: center;
	gap: 36px;
	margin: 100px auto 20px;
	padding: 5px 20px;
	background: #18191a;
	box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.12), 0px 0px 56px rgba(255, 255, 255, 0.12),
		0px 0px 72px rgba(255, 255, 255, 0.25);
	border-radius: 39px;
}

.arrow {
	font-size: 22px;
}

@media (max-width: 714px) {
	.swiper-slide {
		width: 400px;
	}
	.horizontal-swiper {
		height: 254px;
	}
	.vertical-swiper {
		right: 5.5%;
		width: 70px;
		height: 350px;
	}
}
@media (max-width: 514px) {
	.horizontal-swiper {
		height: 158px;
	}
	.swiper-slide {
		width: 250px;
	}
	.vertical-swiper {
		right: 2%;
		height: 210px;
		width: 50px;
		margin-right: 8px;
		display: none;
	}
	.camera-container {
		padding-bottom: 10px;
	}
	.caruosel {
		margin-top: 40px;
	}


	.gallery {
		font-family: 'Space Grotesk';
		font-weight: 600;
		font-size: 42px;
		line-height: 71px;
		letter-spacing: -0.04em;
	}

	.camera-container img {
		width: 56px;
	}

	.camera-container {
		gap: 8px;
	}
}